<ion-menu [content]="content" type="overlay" color="primary" persistent="false" >
  <ion-header>
    <ion-toolbar class="menutoolbar" color="primary">
      <!-- <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> -->
      <ion-label class="aligndata">
        <img class="imguser" alt="logo" height="50" width="50"   src="../assets/imgs/userperson.png" > 
        

        WELCOME<br/> GUEST!
      </ion-label>
      <ion-item no-lines color="primary">

        <button class="btnnavbar" *ngIf="!IsLogin" (click)="SignIn()" ion-button style="background-color: #C11B17;" >SIGN IN</button>
        <button class="btnnavbar" *ngIf="!IsLogin" (click)="Register()" ion-button style="background-color: #C11B17;" >REGISTER</button>
      </ion-item>
      
      <!-- <ion-title>Menu</ion-title> -->
    </ion-toolbar>
  </ion-header>

  

  <ion-content id="side-menu21">
    
    <ion-list  id="menu-list1">
      <!-- <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon   name={{p.iconsname}}  item-left></ion-icon>
        {{p.title}}
      </button> -->
      <ion-item  no-lines  color="positive"  id="menu-list-item1" *ngFor="let p of pages"  (click)="openPage(p)">
        <ion-icon class="menucolor"  name={{p.iconsname}}  item-left></ion-icon>
        {{p.title}}
      </ion-item>
      <ion-item  no-lines  color="positive"  id="menu-list-item1" *ngIf="IsLogin"   (click)="logout()">
        <ion-icon class="menucolor"    item-left></ion-icon>
        LOGOUT
      </ion-item>
      <ion-item></ion-item>
      

    </ion-list>
  </ion-content>

  <ion-footer class="bar-stable">
    <ion-item>Timebiz Jobs @Copyright 2020</ion-item>
</ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

